<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Szczegóły Produktu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Szczegóły Produktu</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Informacje o produkcie</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Id:</strong> <span th:text="${product.id}"></span></li>
                <li class="list-group-item"><strong>Nazwa:</strong> <span th:text="${product.name}"></span></li>
                <li class="list-group-item"><strong>Waga:</strong> <span th:text="${product.weight}"></span> kg</li>
                <li class="list-group-item"><strong>Cena:</strong> <span th:text="${product.price}"></span> PLN</li>
                <li class="list-group-item"><strong>Kategoria:</strong> <span th:text="${product.prettyPrintCategories()}"></span></li>
            </ul>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Powrót</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
